.button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: .25s ease-in-out;
}

.button.gradient {
    font-weight: 700;
    font-size: 14px;
    background: var(--gradient-violet);
    color: #fff;
}

.button.gradient:hover {
    transform: scaleY(1.02);
}