.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: #E6E6E6;
}

.form-input {
    width: calc(100% - 20px);
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: var(--grey);
    color: #f5f5f5;
}

.form-link {
    margin-top: 15px;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #E6E6E6;
}

.form-action {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-social-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.subtitle {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.subtitle p {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}